:root {
  --background-card: #fff;
  --background-learn: #f8f8f8;
  --background-internal: #f3f4f5;
  --box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
  --color-text: #172533;
  --color-text-soft: #626e76;
  --color-accent: #7c47c0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typographie */

.learn{
  font-family: "poppins", sans-serif;
  color:var(--color-text);
  
}

h1{
  font-size: 2rem;
  font-weight: 900;
  
}


.card{
  background-color: white;
  box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 400px;
}

p{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9rem;
}

.o{
  background: #f3f4f5;
  border:none;
}

button{
  color: white;
  background-color: #7c48bf;
  border:none;
}

