:root {
  --background-card: #fff;
  --background-learn: #f8f8f8;
  --background-internal: #f3f4f5;
  --box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
  --color-text: #172533;
  --color-text-soft: #626e76;
  --color-accent: #7c47c0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typographie */

.learn{
  font-family: "poppins", sans-serif;
  color:var(--color-text);
}

h1{
  font-size: 1.8rem;
  font-weight: 900;
  text-align: left;
  margin-left: 1.2rem;
  
}


.card{
  background-color: white;
  box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 400px;
  padding: 20px;
}

.card{
  text-align: center;
}

p{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9rem;
}

.info{
  text-align: left;
  padding: 20px;
  margin-bottom: -15px;
}

.learn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.identifiant{
  background: #f3f4f5;
  border:none;
  height:50px;
  width:90%;
  border-radius: 15px;
  padding: 20px;
}



.case{
  text-align: left;
  margin-left: 1.4rem;
  margin-top: 2rem;
  margin-bottom: -1.6rem;
}

.btn{
  color: white;
  font-size: 20px;
  background-color: #7c48bf;
  border:none;
  margin: 2rem 0;
  border-radius: 12px;
  width:90%;
  height: 50px;
}

input[type="checkbox"]{
  vertical-align: -5px;
  margin: 0 10px 0 0;
  width:22px;
  height:22px;
}

#passwordAlert, #emailAlert{
  font-size: 0.9rem;
  font-weight: bold;
  color: red;
  text-transform:initial;

}




